/* Social Icons for Footer from https://codepen.io/deutschland2k/pen/qKpdJX */

.rounded-social-buttons {
  text-align: center;

  .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2.125rem;
    height: 2.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-github,
  .fa-orcid,
  .fa-researchgate,
  .fa-envelope
  .fa-quora
  .fa-instagram
  .fa-stack-overflow {
    font-size: 25px;
  }

  .social-button.facebook {
    background: #3b5998;
  }
  
  .social-button.facebook:hover, .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .social-button.twitter {
    background: #55acee;
  }
  
  .social-button.twitter:hover, .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .social-button.linkedin {
    background: #007bb5;
  }
  
  .social-button.linkedin:hover, .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .social-button.github {
    background: #000000;
  }
  
  .social-button.github:hover, .social-button.github:focus {
    color: #000000;
    background: #fefefe;
    border-color: #000000;
  }
  
  .social-button.email {
    background: #60c17d;
  }
  
  .social-button.email:hover, .social-button.email:focus {
    color: #60c17d;
    background: #fefefe;
    border-color: #000000;
  }
  
  .social-button.orcid {
    background: #a6ce3b;
  }
  
  .social-button.orcid:hover, .social-button.orcid:focus {
    color: #a6ce3b;
    background: #fefefe;
    border-color: #a6ce3b;
  }
  
  .social-button.researchgate {
    background: #5dd1b0;
  }
  
  .social-button.researchgate:hover, .social-button.researchgate:focus {
    color: #5dd1b0;
    background: #fefefe;
    border-color: #5dd1b0;
  }
  
  .social-button.quora {
    background: #a82400;
  }
  
  .social-button.quora:hover, .social-button.quora:focus {
    color: #a82400;
    background: #fefefe;
    border-color: #5dd1b0;
  }
  
  .social-button.instagram {
    color: #ffffff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .social-button.instagram:hover, .social-button.instagram:focus {
      color: #a82400;
      background: #fefefe;
      border-color: #5dd1b0;
  }
  
  .social-button.stackoverflow {
    background: #f48024;
  }
  
  .social-button.discord {
    background: #7785cc;
    color: white;
  }
  
  .social-button.discord:hover {
    color: #7785cc;
    background: #fefefe;
    border-color: #5dd1b0;
  }
  
  .social-button.devpost {
    color: white;
    font-weight: bold;
    background: #003F54;
  }

  .social-button.devpost:hover, .social-button.social-button.devpost:focus {
    background: white;
    color: #003F54;

  }

  .social-button.stackoverflow:hover, .social-button.stackoverflow:focus {
    color: #f48024;
    background: #fefefe;
    border-color: #5dd1b0;
  }
}
